body,
html {
    font-family: source-sans-pro, sans-serif;
    margin: 0;
    color: #454A54;
    font-weight: 500;
    overflow-x: hidden;
}

section {
    padding: 1.5em 0;
}

#sciencemesh {
    height: 60vh;
    min-height: 660px;
    overflow: hidden;
}

#remote-analysis-image,
#transfer-image,
#share-between-services-image,
#editing-image {
    width: 60%;
    /* min-height: 200px; */
    margin: 0 auto;
    padding: 1em;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1F91CC;
}

.nav-link {
    color: #1F91CC;
}

.hero-text {
    width: 50%;
    position: relative;
    z-index: 100;
    top: 4px;
}

.anim-text {
    width: 50%;
    bottom: 175px;
    position: absolute;
}


.hero-text h1 {
    /*font-size: 1.7em;*/
    background-color: rgba(255, 255, 255, 0.9);
    /*margin: 10px 0px;*/
}

#personas {
    border-top: #e6e6e6 solid 2px;
    margin-top: 5px;
}

.hero-text p,
.anim-text p {
    margin: 0;
    padding: 0;
    background-color: white;

}

.bold-text {
    font-weight: bolder;
}

.blue-text {
    color: #1F91CC
}

.light-grey-text {
    color: #95a5a6;
}

.grey-text {
    color: #454A54;
}

.center-align {
    text-align: center;
}

#top-background {
    position: absolute;
    width: 100%;
    max-width: 1320px;
    height: 660px;
    overflow-y: hidden;
    z-index: 0;
    top: 70px;
}

#about,
#features,
#technologies,
#status,
#community {
    min-height: 450px;
    border-top: 2px solid #ecf0f1;
    background-color: white;
}

#features {
    min-height: 400px;
}

#personas, #technologies, #status{
    background-color: #f8f9fa;
}

#technologies {
    background-image: url('../svg/grey-abstract-bg.svg');
    background-position: top right;
    background-size: 40%;
    background-repeat: no-repeat;
}

#status {
    background-image: url('../svg/grey-abstract-bg.svg');
    background-position: top right;
    background-size: 30%;
    background-repeat: no-repeat;

}

#community {
    background-image: url('../svg/grey-abstract-bg-left.svg');
    background-position: top left;
    background-size: 40%;
    background-repeat: no-repeat;

}

#technologies .col-md-2 img {
    width: 70%;
}

a {
    color: #1F91CC;
}

#footer {
    min-height: 20vh;
    background-color: #454A54;
    padding: 4vh 2vh;
    color: white;
}

#footer a {
    color: white;
}

ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.footer-logo {
    background: url('../svg/logo-dark-bg.svg') no-repeat;
    width: 300px;
    height: 160px;
    align-content: center;
}


.logo {
    background: url('../svg/logo.svg') no-repeat;
    width: 200px;
    height: 70px;
}

.anchor-link {
    cursor: pointer;
}

.anchor-link:hover {
    color: #1F91CC;

}

.hidden {
    opacity: 0;
}

.btn {
    margin-right: 3px;
}

.big-number {
    font-size: 4.5em;
    color: #1F91CC;
    padding:0;
    margin: 0;
}

.big-number-info {
    text-transform: uppercase;
    margin-top: -30px;
}

.tab-content {
    min-height: 400px;
}
.btn.btn-primary {
    background-color: #1F91CC;
    border: 1px solid #1F91CC;
    color: white;
}

.btn a {
    text-decoration: none;
}

.btn.btn-primary a {
    color: white;
    text-decoration: none;
}

polygon.cls-transferline, polyline.cls-transferline {
    stroke-dasharray: 10;
    stroke-dashoffset: 1000;
    stroke: white;
    stroke-width: 2px;
    animation: dash 20s linear forwards infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 400;
        stroke-dasharray: 10;
    }
}

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


@media screen and (max-width: 992px) {

    #remote-analysis-image,
    #transfer-image,
    #share-between-services-image,
    #editing-image {
        width: 100%;
        margin: 0 auto;
        padding: 1em;
    }

    .feature {
        padding: 2em;
    }


    #technologies {
        background-size: 70%;
    }

    .logo {
        width: 170px;
        height: 80px;
    }

    .footer-resource-links {
        text-align: center;
    }

    .anim-text {
        width: 90%;
        position: absolute;
        bottom: 60px;
        z-index: 100;
    }

    .hero-text {
        width: 100%;
        top: 20px;
    }

    #developer-image, #service-provider-image, #researcher-image, #sysadmin-image {
        width: 60%;
        margin: 0 auto;
    }

    #top-background {
        position: relative;
        width: 100%;
        height: 398px;
        z-index: 0;
        top: 0px;
    }

    #personas {
        margin-top: 0;
    }
}


@media screen and (max-width: 600px) {

    #remote-analysis-image,
    #transfer-image,
    #share-between-services-image,
    #editing-image {
        width: 50%;
        margin: 0 auto;
        padding: 1em;
    }

    #sciencemesh {
        min-height: 400px;

        background: #3b4451 url("../svg/blue-abstract-bg.svg") bottom right;
        margin: -0.8em;
        padding: 17px;
        padding-top: 50px;
        color: white;
    }

    #personas {
        margin-top: 0px;
    }

    #top-background {
        display: none;
    }


    .feature {
        padding: 2em;
    }

    .anchor-link {
        display: none !important;
    }


    #technologies {
        background-size: 70%;
    }

    .logo {
        width: 170px;
        height: 80px;
    }

    .footer-resource-links {
        text-align: center;
    }


    .anim-text {
        width: 90%;
        position: absolute;
        bottom: 60px;
        z-index: 100;
    }

    .hero-text {
        text-align: center;
        width: 100%;
    }

    .hero-text p, .anim-text p {
        margin: 0;
        padding: 0;
        background-color: transparent;
    }

    #developer-image, #service-provider-image, #researcher-image, #sysadmin-image {
        width: 60%;
        margin: 0 auto;
    }

    #persona-break {
        display: none;
    }

    #pills-tabContent .btn {
        clear: both;
        width: 100%;
        margin-bottom: 10px;
    }

    .row {
        width: 95%;
        margin: 0 auto;
    }

    .nav-item {
        margin-bottom: 5px;
    }

    #data-text {
        color: white;
    }
}


#logo-template {
    display: none;
}

#logo-container {
    padding-top: 40px;
}

.generated-logo {
    width: 150px;
    min-height: 135px;
    display: inline-block;
    border-radius: 5px;

    text-align: center;
    float: left;
    padding: 20px;
}

.generated-logo:hover {
    background-color: rgba(244, 244, 244, 0.9);
}

.btn-download {
    background-color: #e6e6e6;
    font-weight: bolder;
    padding: 4px 7px;
    font-size: .7em;
    margin: 5px;
    position: relative;
    bottom: 0;
}

.btn-download:hover {
    transition: all 0.5s;
    color: #1F91CC;
    cursor: pointer;
}

.btn-dark {
    background-color: #243548;
}

.stakeholder-list-item {
    padding: 10px;
    border-left: #e6e6e6 4px solid;
    margin: 10px 10px;
}

.stakeholder-list-item:hover{
    transition: all 0.5s;
    border-left: #1f91cc 4px solid;
    background-color: white;
    cursor: default;
}

.stakeholder-list-item p {
    margin: 0;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1;
}

.lead {
    font-weight: 400;
}

.font-lighter {
    font-weight: 300;
}

.font-smaller {
    font-size: 1.1em;
}